<!DOCTYPE html>

<% if(message != '') { %>
<div class="container-fluid flash-msg">
  <div class="container">
    <div class="col-xs-12 no-gutter">
      <h5><%= message %></h5>
    </div>
  </div>
</div>
<% } %>

<div class="container content-top">
    <h2>Jobs</h2>
</div>

<div class="container">

<% display.dates.forEach(function(date) { %>
  <h3 style="background-color: aliceblue;"><%= humanize.date('l jS F Y', date.jobs[0].date) %></h3>
  <% date.jobs.forEach(function(job) { %>
    <div class="table-responsive">
      <table class="table">
	<thead>
	  <th class="col-xs-2">Client</th>
	  <th class="col-xs-1">Arrival</th>
	  <th class="col-xs-4">Location</th>
	  <th class="col-xs-1">Pax</th>
	  <th class="col-xs-2">Event</th>
	  <th class="col-xs-1"></th>
	  <th class="col-xs-1"></th>
	</thead>

	<tbody>
          <tr>
	    <form class="form-horizontal" method="post" action="api/job/<%= job.id %>?redirect=job" role="form">
	      <td><p><%= job.Client.name %></p></td>
	      <td><input class="form-control" value="<%= humanize.date('Hi', job.date) %>" name="time" /></td>
	      <td><input class="form-control" value="<%= job.Location.name %>" name="location" /></td>
	      <td><input class="form-control" value="<%= job.pax %>" name="pax" /></td>
	      <td><input class="form-control" value="<%= job.EventType.name %>" name="eventType" /></td>
	      <td class="text-right">
		<button type="submit" class="btn btn-primary">
		  <span class="fui-arrow-right"></span>
		</button>
	      </td>
	      <td class="text-right">
		<a href="/api/job/remove/<%= job.id %>?redirect=job" class="btn btn-danger">
		  <span class="fui-cross"></span>
		</a>
	      </td>
	    </form> <!-- JOBS -->
          </tr>
	</tbody>

      </table>

    <% if(job.Bookings.length > 0) { %>
    <%
       var sortedBookings = [];
       var uniqStart = _.uniq(_.map(_.pluck(job.Bookings, 'start'), function(date) { return humanize.date('Hi', date) }));
       uniqStart = uniqStart.sort(function(a, b) {
         if(a > b) { return 1 };
         if(a < b) { return -1 };
       });
       async.each(uniqStart, function(start, cb) {

         var uniqStartObj = _.filter(job.Bookings, function(obj) { return humanize.date('Hi', obj.start) == start; });
         var uniqPos = _.uniq(_.pluck(uniqStartObj, 'position'));

         async.each(uniqPos, function(pos, cb) {

           var uniqPosObj = _.where(uniqStartObj, { position: pos });
           sortedBookings.push(uniqPosObj);
           cb();

         }, function(err) {
           if(err) { console.log(err) }
           cb();
         });
       }, function(err) {
         if(err) { console.log(err) } else { console.log('success') }
         console.log(JSON.stringify(sortedBookings, undefined, 2));
       })
    %>
    <form id="job<%= job.id %>" class="form-inline" method="post" action="api/ask" role="form">
      <div class="no-gutter col-xs-10 col-xs-offset-2">
	<table class="table table-striped">
	  <thead>
	    <th class="col-xs-1">Start</th>
	    <th class="col-xs-1">No.</th>
	    <th class="col-xs-2">Position</th>
	    <th class="col-xs-2"></th>
	    <th class="col-xs-2"></th>
	    <th class="col-xs-2"></th>
	  </thead>
	  <tbody>

          <% sortedBookings.forEach(function(line) { %>
	  <% 
	     var mult = Math.floor((line.length-1)/3);
	     var mod = line.length % 3;
	     if(mod!=0) { var diff = 3-mod; } else { var diff = 0; }
	   %>
	    <tr>
	      <td><%= humanize.date('Hi', line[0].start) %></td>
	      <td><%= line.length %></td>
	      <td><%= line[0].position %></td>

	      <% for(var i=0; i<line.length; i++) { %>
	        <td>
		  <div class="form-group no-margin">
		    <label class="sr-only" for="<%= line[i].id %>"><%= line[i].id %></label>
		    <input type="text" class="form-control input-sm" placeholder="Name" 
			   value=""
			   name="<%= line[i].id %>" />
		  </div>
		</td>
		<% if(mult>0 && (i+1)%3==0) { %>
	    </tr>
	    <tr>
	      <td></td>
	      <td></td>
	      <td></td>
	        <% } %>
	    
	      <% } %>
	      <% for(var i=0; i<diff; i++) { %>
	        <td></td>
	      <% } %>
	    </tr>
	  <% }); %>

	  </tbody>
	</table>
      </div>
    </form>
    <% } %>

      <form class="form-inline" method="post" action="api/booking/<%= job.id %>" role="form">
	<div class="no-gutter col-xs-10 col-xs-offset-2">
	  <table class="table">
	    <thead>
	      <th>Start</th>
	      <th>Position</th>
	      <th>No.</th>
	      <th class="col-xs-1"></th>
	    </thead>
	    <tbody>
	      <tr>
		<td><div class="form-group"><input type="text" class="form-control" placeholder="24 hour time" name="start"></div></td>
		<td><div class="form-group"><input type="text" class="form-control" placeholder="Position" name="position"></div></td>
		<td><div class="form-group"><input type="text" class="form-control" placeholder="No." name="number"></div></td>
		<input type="hidden" value="<%= job.id %>" name="jobId">
		<td class="text-right">
		  <button type="submit" class="btn btn-primary">
		    <span class="fui-plus"></span>
		  </button>
		</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </form> <!-- BOOKING -->

    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-block lg-mb" form="job<%= job.id %>">Roster</button>
    </div>

    </div>
  <% }); %>
<% }); %>

</div>

<!-- NEW JOB -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <form class="form-horizontal" method="post" action="/api/job/" role="form">
        <div class="login-form">

          <h5>New job</h5>

          <div class="form-group sm-mb">

	    <label class="col-sm-1" for="day">Date</label>
	    <div class="col-sm-5 no-gutter">
              <div class="col-xs-4"><input type="integer" class="form-control" placeholder="dd" name="day"></div>
              <div class="col-xs-4"><input type="integer" class="form-control" placeholder="mm" name="month"></div>
              <div class="col-xs-4"><input type="integer" class="form-control" placeholder="year" value="<%= humanize.date('Y', new Date()) %>" name="year"></div>
	    </div>

	    <label class="col-sm-1" for="time">Arrival</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" placeholder="24-hour time" name="time" />
	    </div>

          </div>


          <div class="form-group sm-mb">

	    <label class="col-sm-1" for="client">Client</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Client" name="client" />
            </div>

	    <label class="col-sm-1" for="location">Location</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Location" name="location">
            </div>

          </div>

          <div class="form-group sm-mb">

	    <label class="col-sm-1" for="pax">Pax</label>
            <div class="col-sm-5">
              <input type="integer" class="form-control" placeholder="Pax" name="pax">
            </div>

	    <label class="col-sm-1" for="eventType">Event</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Event Type" name="eventType">
            </div>
          </div>

	  <input type="hidden" value="job" name="redirect">

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Create job</button>
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

<script>

var clientBlood = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: [],
  remote: "<%= root %>/api/find/client",
});
 
var locationBlood = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: [],
  remote: "<%= root %>/api/find/location",
});

var eventBlood = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: [],
  remote: "<%= root %>/api/find/eventType",
});

var posBlood = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: [],
  remote: "<%= root %>/api/find/position",
});
 
clientBlood.initialize();
locationBlood.initialize();
eventBlood.initialize();
posBlood.initialize();

$('[name="client"]').typeahead({
  highlight: true
},
{
  name: 'client',
  displayKey: 'name',
  source: clientBlood.ttAdapter(),
});

$('[name="location"]').typeahead({
  highlight: true
},
{
  name: 'location',
  displayKey: 'name',
  source: locationBlood.ttAdapter(),
});

$('[name="eventType"]').typeahead({
  highlight: true
},
{
  name: 'eventType',
  displayKey: 'name',
  source: eventBlood.ttAdapter(),
});

$('[name="position"]').typeahead({
  highlight: true
},
{
  name: 'position',
  displayKey: 'name',
  source: posBlood.ttAdapter(),
});

</script>
