<!DOCTYPE html>

<% if(message != '') { %>
<div class="container-fluid flash-msg">
  <div class="container">
    <div class="col-xs-12 no-gutter">
      <h5><%= message %></h5>
    </div>
  </div>
</div>
<% } %>

<div class="container content-top">
  <h2>Staff</h2>

    <table class="table table-striped">

<% if(user.Staffs) { %>
      <tbody>
	<% for(var i=0; i<user.Staffs.length; i++) {%>

             <tr>
	       <td>
		 <form class="form-horizontal" method="post" action="/api/staff/<%= user.Staffs[i].id %>" role="form">
		   <div class="form-group no-margin">
		     <label class="col-sm-1" for="fName">Name</label>
		     <div class="col-sm-2 sm-mb">
		       <input class="form-control" value="<%= user.Staffs[i].firstName %>" name="fName" />
		     </div>

		     <label class="sr-only" for="lName">Last name</label>
		     <div class="col-sm-3">
		       <input class="form-control" value="<%= user.Staffs[i].lastName %>" name="lName" />
		     </div>

		     <label class="col-sm-1">Position(s)</label>
		     <div class="col-sm-5">
		       <input class="tagsinput" data-role="tagsinput" value="<% for (var j=0; j<user.Staffs[i].Positions.length; j++) { %><%= user.Staffs[i].Positions[j].name %>,<% } %>" name="position" />
		     </div>
		   </div>

		   <div class="form-group sm-mb">
		     <label class="col-sm-1" for="email">Email</label>
		     <div class="col-sm-5">
		       <input class="form-control" value="<%= user.Staffs[i].email %>" name="email" />
		     </div>

		     <label class="col-sm-1" for="phone">Phone</label>
		     <div class="col-sm-5">
		       <div class="input-group">
			 <span class="input-group-addon">+64</span>
			 <input class="form-control" value="<%= user.Staffs[i].phone %>" name="phone" />
		       </div>
		     </div>
		   </div>

		   <div class="form-group no-margin">
		     <div class="col-sm-2 col-sm-offset-9 sm-mb">
		       <button type="submit" class="btn btn-primary btn-block">Update</button>
		     </div>

		     <div class="col-sm-1">
		       <a href="/api/staff/remove/<%= user.Staffs[i].id %>" class="btn btn-danger btn-block">
			 <span class="fui-cross"></span>
		       </a>
		     </div>
		   </div>

		 </form>
	       </td>
	     </tr>

	 <% } %>
      </tbody>
<% } %>
    </table>

</div>


<div class="container">
  <div class="row">
    <div class="col-xs 12">

      <form class="form-horizontal" method="post" action="/api/staff" role="form">
        <div class="login-form">

          <h5>New staff</h5>

          <div class="form-group sm-mb">

	    <label class="col-sm-2" for="firstName">First name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="First name" name="firstName">
            </div>

	    <label class="col-sm-2" for="lastName">Last name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Last name" name="lastName">
            </div>
          </div>

	  <div class="form-group sm-mb">

	    <label class="col-sm-2" for="email">Email</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control" placeholder="Email" name="email">
	    </div>

	    <label class="col-sm-2" for="phone">Phone no.</label>
	    <div class="col-sm-4">
	      <div class="input-group">
		<span class="input-group-addon">+64</span>
		<input type="text" class="form-control" placeholder="Phone number" name="phone">
	      </div>
	    </div>

	  </div>

	  <div class="form-group no-margin">

	    <label class="col-sm-2" for="position">Position</label>
	    <div class="col-xs-4 tagsinput-primary">
	      <input name="position" class="tagsinput" data-role="tagsinput" />
	    </div>

            <div class="col-sm-4 col-sm-offset-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Add staff</button>
            </div>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>


<script>
var position = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'); },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 4,
  local: [
    { name: "Supervisor" },
    { name: "Waitstaff" },
    { name: "Barstaff" },
    { name: "Chef" },
  ],
});

position.initialize();

$('[name="position"]').tagsinput({
  typeaheadjs: {
    name: 'position',
    displayKey: 'name',
    source: position.ttAdapter()
  }
});
</script>
