<div class="container content-top">
  <div class="col-xs-12">
    <div class="thumbnail">
      <div class="caption">
	<h4><%= profile.firstName %> <%= profile.lastName %></h4>
	<p><%= profile.email %></p>
	<% if(profile.rate) { %><p>$<%= profile.rate %>/hr</p><% } %>
	<% for(i=0; i<profile.subjects.length; i++) { %>
	   <p><%= profile.subjects[i].name %></p>
	   <% } %>
      </div>
    </div>
  </div>
</div>
